#header {
    position: absolute; 
    top: 0px; 
    left: 20px;
}

#header .site-logo {
    width: 175px;
    display: block;
}

#puzzle-title {
    position: absolute;
    left: 190px;
    top: 28.5px;
    width: 425px;
    text-align: left;
    font-size: 1.3em;
    color: #61C9FF;
    font-weight: bold;
}

#game-grid {
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 75px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    perspective: 1000;
    -webkit-perspective: 1000;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#game-grid g text {
    font-family: 'Roboto Codensed', sans-serif;
    font-size: 3em;
    font-weight: bold;
    fill: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#game-grid g text.placed-digit {
    fill: #61C9FF;
}

#game-grid g text.corner-mark {
    fill: #61C9FF;
    font-size: 1.3em;
}

#game-grid g rect.cell-background {
    fill: #050A1C;
    stroke: #6D6D6D;
}

#game-grid g rect.conflict {
    fill: #802C2C;
}

#game-grid g rect.selected-cell {
    stroke: #61C9FF;
    stroke-width: 5px;
    width: 75px;
    height: 75px;
}

#game-grid g rect.glowing-cell-a {
    animation: bgColor1 5s infinite linear;
    opacity: 0.25;
}

#game-grid g rect.glowing-cell-b {
    animation: bgColor2 5s infinite linear;
    opacity: 0.25;
}

#game-grid g rect.glowing-cell-c {
    animation: bgColor3 5s infinite linear;
    opacity: 0.25;
}

#game-grid g rect.glowing-cell-d {
    animation: bgColor4 5s infinite linear;
    opacity: 0.25;
}

@keyframes bgColor1 {
    20% {
        fill: #FF5353;
    }
    40% {
        fill: #FFFF53;
    }
    60% {
        fill: #1BACCD;
    }
    80% {
        fill: #651BCD;
    }
    100% {
        fill: #050A1C;
    }
}
@keyframes bgColor2 {
    20% {
        fill: #651BCD;
    }
    40% {
        fill: #1BACCD;
    }
    60% {
        fill: #FFFF53;
    }
    80% {
        fill: #FF5353;
    }
    100% {
        fill: #050A1C;
    }
}
@keyframes bgColor3 {
    20% {
        fill: #1BACCD;
    }
    40% {
        fill: #651BCD;
    }
    60% {
        fill: #FF5353;
    }
    80% {
        fill: #FFFF53;
    }
    100% {
        fill: #050A1C;
    }
}
@keyframes bgColor4 {
    20% {
        fill: #FFFF53;
    }
    40% {
        fill: #FF5353;
    }
    60% {
        fill: #651BCD;
    }
    80% {
        fill: #1BACCD;
    }
    100% {
        fill: #050A1C;
    }
}

#game-grid g text.middle-marks {
    fill: #61C9FF;
    font-size: 1.5em
}

#game-grid g text.middle-marks[data-count="9"] {
    font-size: .55em
}

#game-grid g text.middle-marks[data-count="8"] {
    font-size: .6em
}

#game-grid g text.middle-marks[data-count="7"] {
    font-size: .7em
}

#game-grid g text.middle-marks[data-count="6"] {
    font-size: .8em
}

#game-grid g text.middle-marks[data-count="5"] {
    font-size: 1em
}

#game-grid g text.middle-marks[data-count="4"] {
    font-size: 1.2em
}

a.game-control {
    display: block;
    float: left;
    border: 2px solid #61C9FF;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 20px;
    height: 75px;
    width: 75px;
}

a.game-control.button {
    padding: 0 14px;
    color: white;
    text-decoration: none;
    line-height: 72px;
    font-size: 2.1em;
    font-weight: 300;
    width: auto;
}

a.game-control.selected {
    border-color: #FFFFFF;
}

a.game-control.button.primary {
    color: #050A1C;
    font-weight: 500;
}

a#cancel-puzzle-gen {
    display: none;
    position: absolute;
    left: 420px;
    top: -10px;
    height: 50px;
    line-height: 48px;
}

a#play-button {
    display: none;
}

a#cancel-button {
    display: none;
}

#game-controls {
    position: absolute;  
    left: 20px;
    top: 840px;
    width: 762px;
}

#game {
    position: relative; 
    left: 0px; 
    top: 0px;
}

#error-message {
    position: absolute;
    top: 131px;
    left: 124px;
    border: 3px solid #A12D4E;
    border-radius: 5px; font-weight: bold;
    font-size: 22px; padding: 10px;
    background-color: #000000;
    width: 540px;
    display: none;
    transition: opacity 200ms ease-in-out;
    opacity: 0;
}

#happy-message {
    position: absolute;
    top: 131px;
    left: 124px;
    border: 3px solid #19bb52;
    border-radius: 5px; font-weight: bold;
    font-size: 22px; padding: 10px;
    background-color: #000000;
    width: 540px;
    display: none;
    transition: opacity 200ms ease-in-out;
    opacity: 0;
}

#import-dialog {
    border: 5px solid #61C9FF;
    border-radius: 5px;;
}

#import-dialog h4 {
    margin: 0 0 20px 0;
    text-align: left;
    font-size: 1.4em;
}

#puzzles-select {
    height: 30px;
    padding: 0px 4px;
}

dialog:open {
  opacity: 1;
}

dialog {
  opacity: 0;
  transition:
    opacity 0.3s ease-out,
    overlay 0.3s ease-out allow-discrete,
    display 0.3s ease-out allow-discrete;
}

@starting-style {
  dialog:open {
    opacity: 0;
  }
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0%);
  transition:
    display 0.7s allow-discrete,
    overlay 0.7s allow-discrete,
    background-color 0.3s;
}

dialog:open::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

@starting-style {
  dialog:open::backdrop {
    background-color: rgb(0 0 0 / 0%);
  }
}

div.dialog-controls {
    text-align: right;
}

#import-submit {
    margin-left: 12px;
}

#puzzles-select {
    margin-left: 4px;
}