{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <img src="{% static 'img/site-logo.svg' %}" alt="Site Logo">
        <div class="play-button">
            <a class="button primary" href="">play</a>
        </div>
        <div class="sign-buttons">
            <a class="button secondary" href="">sign in</a>
            <a class="button secondary" href="">sign up</a>
        </div>
    </body>
</html>