@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #050A1C;
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

a.button {
    display: inline-block;
    font-size: 36px;
    font-weight: 300;
    text-decoration: none;
    border: 2px solid #61C9FF;
    border-radius: 5px;
    padding: 10px 34px 15px 34px;
    background-color: #050A1C;
}

a.button.secondary, a:visited, a:hover, a:active {
    color: white;
}

a.button.primary {
    background-color: #61C9FF;
    font-weight: 400;
    color:#050A1C;
}