h1 {
    text-align: center;
}

h2 {
    margin-bottom: 40px;
}

div.play-button {
    margin-bottom: 20px;
}

div.sign-buttons {
    width: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 20px;
}