{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-T6782FZYPB"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-T6782FZYPB');
        </script>
        <link href="{% static 'css/base_styles.css' %}" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="description" content="A solve experience for Sudoku enthusiasts, created by Geoff Mackey.">
        {%block head %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock content%}
    </body>
</html>